.user-avatar-background{
  background-color: #FEFEFE;
}
.active{
  background-color:#BBDEFB ;
}
.activeicon{
  color:#FF5722;
}
.list-icon{
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.avatar-box{
  margin-bottom: 8px;
  margin-right: 8px;
  height: 30px;
  width: 30px;
}
